.NavBarComponent {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
    margin: 5px;
}


.btnIdioma{
    background-color: transparent;
    border: none;
}